  <footer class="footer">
    <div class="socials">
        <a href="https://www.facebook.com/365dagenvers/" class="socials__button socials__button--facebook" target="_blank">
            <img src="/assets/img/facebook.svg" alt="" />
            <span>Dagvers op Facebook</span>
        </a>
        <!-- <a href="#" class="socials__button socials__button--twitter" onClick='window.open("http://twitter.com/share?text={% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}&url={{ page.url | replace:'index.html','' | absolute_url }}", "pop", "width=600, height=400, scrollbars=no");'>
            <img src="/assets/img/twitter.svg" alt="" />
            <span>Tweet</span>
        </a> -->
    </div>
    <a href="{{ site.baseurl }}{% link pages/about.md %}" class="footer__about">Over Dagvers</a>
  </footer>
