<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header>
        <div class="brand">
            {{brand}}
            <div class="brand__day">
                <svg class="day day--{{ page.date | date: "%A" | downcase }}">
                    <use xlink:href="#{{ page.date | date: "%A" | downcase }}" />
                </svg>
            </div>
            <div class="brand__logo">
                <svg class="logo">
                    <use xlink:href="#dagvers" />
                </svg>
            </div>
        </div>

        <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

  <div class="post__content" itemprop="articleBody">
    {{ content }}
    <p itemprop="datePublished" content="{{ page.date | date: "%Y/%m/%d" }}" class="post__date">{{ page.date | date: "%-d/%-m/%Y" }}</p>
  </div>

  <nav class="post__nav">
      {% if page.previous.url %}
      <a class="post__nav__prev" href="{{page.previous.url}}">
          <span class="post__nav__day post__nav__day--{{ page.previous.date | date: "%A" | downcase}}">{{ page.previous.date | date: "%A" | upcase | replace: "MONDAY", "MAAN" | replace: "TUESDAY", "DINS" | replace: "WEDNESDAY", "WOENS" | replace: "THURSDAY", "DONDER" | replace: "FRIDAY", "VRIJ" | replace: "SATURDAY", "ZATER" | replace: "SUNDAY", "ZON" }}</span>DAGVERS
      </a>
      {% endif %}
      {% if page.next.url %}
      <a class="post__nav__next" href="{{page.next.url}}">
          <span class="post__nav__day post__nav__day--{{ page.next.date | date: "%A" | downcase}}">{{ page.next.date | date: "%A" | upcase | replace: "MONDAY", "MAAN" | replace: "TUESDAY", "DINS" | replace: "WEDNESDAY", "WOENS" | replace: "THURSDAY", "DONDER" | replace: "FRIDAY", "VRIJ" | replace: "SATURDAY", "ZATER" | replace: "SUNDAY", "ZON" }}</span>DAGVERS
      </a>
      {% endif %}
  </nav>

</article>
