---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header>
        <a href="/">
            <div class="brand">
                {{brand}}

                <div class="brand__logo">
                    <svg class="logo">
                        <use xlink:href="#dagvers" />
                    </svg>
                </div>
            </div>
        </a>
        <h1 class="title" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

    <div class="content" itemprop="articleBody">
        {{ content }}
    </div>

</article>
